.skill-panel {
    width: 500px;
    height: auto;
    background-color: #181a1b;
    color: #e6e6e6;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.skill-panel:hover {
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.2);
}

.skill-title {
    font-family: source-sans-pro;
    font-size: 18pt;
}

.skill-description {
    font-family: source-sans-pro-light;
    font-size: 14pt;
}

.skill-panel .skill-description, .skill-panel .skill-header div {
    padding: 5px;
}

.skill-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background: linear-gradient(-180deg, #23a6d5, #23a6d5, #23a6d5, #23a6d5);
    border-radius: 15px 15px 0 0;
}

.skill-icon {
    font-size: 40px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title {
    width: 75%;
}

.skill-description {
    text-align: left;
    background: linear-gradient(-180deg, rgba(35,166,213,1) 0%, #181a1b 10%);
}

@media only screen and (max-width: 786px) {
    .skill-panel {
        width: auto;
    }
}