.nav-container {
    display: grid;
    grid-area: nav;
    grid-template-columns: 1fr 7fr 12fr;
    grid-template-areas: 
        ". title elements";
    
    background-color: #231f20;
    font-family: 'Helvetica';
    font-size: 18px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.title {
    grid-area: title;
    text-align: left;
}

.nav-elements {
    grid-area: elements;
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
}

.nav-element:hover {
    background-color: #332f30;
    color: #ef5951;
}

.text {
    padding: 10px 30px;
    cursor: default;
}

.nav-container a {
    text-decoration: none;
    color: inherit;
}