.nav-container {
    display: grid;
    grid-area: nav;
    grid-template-columns: 1fr 7fr 12fr;
    grid-template-areas: 
        ". title . elements";
    
    font-family: inherit;
    font-size: 18px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
}

.title {
    grid-area: title;
    text-align: center;
}

.icon {
    height: 24pt;
}

.nav-elements {
    grid-area: elements;
    display: flex;
    justify-content: space-around;
    padding-right: 5vw;
}

.nav-element:hover {
    background-color: #080a0b;
    color: #ef5951;
}

.text {
    padding: 10px 30px;
    cursor: default;
}

.nav-container a {
    text-decoration: none;
    color: inherit;
}