.nav-container-desktop {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: nav;
    font-family: inherit;
    font-size: 18px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    position: relative;
}

.nav-container-mobile {
    display: none;
}

.nav-container-mobile {
    display: none;
}

.container {
    margin: 0 auto;
}

.title {
    text-align: center;
    cursor: default;
}

.icon {
    height: 4rem;
}

.nav-elements {
    grid-area: elements;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    align-items: center;
}

.nav-element:hover {
    background-color: #080a0b;
    color: #ef5951;
}

.text {
    padding: 10px 30px;
    cursor: default;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 786px) {
    .nav-container-desktop {
        display: none;
    }
    
    .nav-container-mobile {
        display: flex;
        flex-direction: row;

        grid-area: nav;
        font-family: inherit;
        font-size: 18px;
        box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
        position: sticky;
        top: 0;
    }

    .nav-container-mobile .start {
        margin-right: auto;
        margin-left: 0;
    }

    .nav-container-mobile .end {
        margin-right: 0;
        margin-left: auto;
    }

    .nav-container-mobile .dropdown-menu img {
        height: 4rem;
    }

    .title {
        margin-right: auto;
        margin-left: 10%;
    }

    .dropdown {
        margin-right: 0;
        margin-left: auto;
    }
}