.nav-container-desktop, .nav-container-mobile {
    display: flex;
    justify-content: center;
    align-items: center;

    grid-area: nav;
    font-family: inherit;
    font-size: 18px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
    position: relative;
}

.nav-container-desktop {
    height: 100px;
    max-height: 100px;
}

.nav-container-mobile {
    height: 75px;
    max-height: 75px;
    display: none;
}

.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #181a1b;
}

.dropdown-content a {
    color: #f5f5f5;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #ef5951;
    cursor: default;
}

.dropdown:hover .dropdown-content {
    display: block;

}

.container {
    margin: 0 auto;
}

.title {
    text-align: center;
    cursor: default;
    height: inherit;
    width: auto;
}

.icon {
    max-height: 100px;
}

.text {
    padding: 10px 30px;
    cursor: default;
}

.nav-elements {
    grid-area: elements;
    display: flex;
    justify-content: space-around;
    margin-right: 5%;
    align-items: center;
    height: inherit;
}

.nav-element:hover {
    background-color: #080a0b;
    color: #ef5951;
}

a {
    text-decoration: none;
    color: inherit;
}

@media only screen and (max-width: 786px) {
    
    .nav-container-desktop {
        display: none;
    }
    
    .nav-container-mobile {
        display: flex;
        position: sticky;
        top: 0;
    }

    .nav-container-mobile .dropdown-menu img {
        height: 4rem;
    }

    .title {
        margin-right: auto;
        margin-left: 10%;
    }

    .dropdown {
        display: block;
        margin-right: 0;
        margin-left: auto;
    }

    .icon {
        max-height: 75px;
    }
}